/*Se importa la fuente a usar*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    background:url('../Imagenes/Fondo.jpg');	
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login{
position: relative;
width: 400px;
height: 400px;
background-color: rgba(0, 0, 0, .2);
border-radius: 10px;
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, .4);
}
.formulario{
position: absolute;
color: #fff;
padding: 50px;
width: 100%;
}
/**/
h2{
    text-align: center;
    margin-bottom: 20px;
}

.entrada{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 30px;

}

.entrada input{
    display: block;
    width: 90%;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}
::placeholder{
    color: #fff;
}


button{
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    padding: 7px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}
p{
    text-align: center;

}
p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    width: 250px;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .4);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.button:hover {
    background-color: #2980b9;
}
.button:active {
    transform: scale(0.95);
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.close-button:hover {
    background-color: #c0392b;
}
